<html>
<body>
  <main>
    <div class="logo">KellyJo Catering</div>
    <div class="nav-btn">
      <span></span>
    </div>
    <nav>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      <section id="about">
        <div class="content">
          <div class="title">About us</div>
          <div class="sub-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem.
          </div>
        </div>
      </section>
      <section id="portfolio">
        <div class="content">
          <div class="title">portfolio</div>
          <div class="sub-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem.
          </div>
        </div>
      </section>
      <section id="services">
        <div class="content">
          <div class="title">services </div>
          <div class="sub-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem.
          </div>
        </div>
      </section>
      <section id="contact">
        <div class="content">
          <div class="title">contact</div>
          <div class="sub-title">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem.
          </div>
        </div>
      </section>
    </div>
    </main>
  </body>
  </html>
